<div class="navbar d-flex justify-content-around p-3 vw-100 border-bottom">

  <div class="icon_btn home_icon col mx-3" style="text-align: center;">

    <a href="\" class="link d-flex">
      <i class="fa-brands fa-fort-awesome m-1" style="color: #ffffff;"></i>
      <p  class="home-button nav-btn" style="color: #ffffff;">HOME</p>
    </a>

  </div>

  <div class="icon_btn about_icon col" style="text-align: center;">


    <a href="/#about" class="link d-flex">
      <i class="fa-solid fa-address-card m-2" style="color: #ffffff;"></i>
      <p class="about-button nav-btn" style="color: #ffffff;">About</p>
    </a>

  </div>

  <div class="icon_btn skills_icon col" style="text-align: center;">


    <a href="/#skills" class="link d-flex">
      <i class="fa-solid fa-kitchen-set m-1"  style="color: #ffffff;"></i>
      <p class="skills-button nav-btn" style="color: #ffffff;">SKILLS</p>
    </a>


  </div>

  <div class="icon_btn contact_icon col" style="text-align: center;">
    <a href="/#contact" class="link d-flex">
      <i class="fa-solid fa-mobile-screen-button m-2" style="color: #ffffff;"></i>
      <p class="contact-button nav-btn" style="color: #ffffff;">Contact</p>
    </a>
  </div>



</div>
