.navbar {
  background-color: rgba(94,66,99, 0.5); /* Add a semi-transparent background color */
  padding: 10px;
  position: absolute;
  z-index: 2; /* Ensure the navbar is above the banner */
  color: #ffffff;
}

.border-bottom {
  border-bottom: 4px solid $white !important;
  padding-bottom: 10px; /* Optional: Add padding to separate content from the border */
}

.icon-btn {
  font-size: 1.5em;
  color: #ffffff;
}
